Repository metacontroller/metacontroller, pull requests merged in 2020-06, with the labels that each got.

#21 chore(release): #8 - Set-up semantic-release
  .github/workflows/pipeline.yaml
  .github/workflows/release-pipeline.yaml
  release.config.js
Labels: semantic release

#22 fix(readme): update immediate action items
  README.md
Labels: chore, readme

#34 chore: Update Readme
  README.md
Labels: chore, readme

#35 chore: #27 - Add docker linters to pipeline
  .github/workflows/pipeline.yaml
Labels: docker, linting

#36 chore: Update manifests
  manifests/metacontroller.yaml
Labels: build, chore

#26 chore(tests): #13 - Prepare dockerfile running unit and integration tests
  .dockerignore
  .github/workflows/pipeline.yaml
  Dockerfile.test
  Makefile
  hack/get-kube-binaries.sh
  test/integration/framework/apiserver.go
  test/integration/framework/main.go
Labels: testing
